/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Verdana, sans-serif;
  color: #000;
  margin: 10px 0; }
  h1 small, h1 .small, h2 small, h2 .small, h3 small, h3 .small, h4 small, h4 .small, h5 small, h5 .small, h6 small, h6 .small {
    font-size: smaller;
    color: #666666; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

body {
  font-size: 100%;
  font-family: Arial, Verdana, sans-serif; }
  body p {
    margin-bottom: 10px; }

mark {
  background-color: #ffff00;
  color: #000;
  font-weight: bold; }

del {
  text-decoration: line-through; }

ins, u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

blockquote {
  background: #e6e6e6;
  border-left: 10px solid;
  border-color: #e6e6e6;
  margin: 1.5em 10px;
  padding: 0.5em 10px; }

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

kbd {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }

pre {
  display: block;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  white-space: pre;
  margin: 1em 0; }

ul {
  list-style-type: disc;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px; }

ul.square {
  list-style-type: square; }

ul.no_list {
  list-style-type: none; }

li {
  display: list-item; }

.Maj {
  text-transform: capitalize; }

.Min {
  text-transform: lowercase; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.basic_table table, .advanced-table table, .basic_table th, .advanced-table th, .basic_table td, .advanced-table td {
  border: 1px solid;
  border-color: #000; }
.basic_table th, .advanced-table th {
  padding: 15px;
  text-align: left; }
.basic_table td, .advanced-table td {
  padding: 15px; }
.basic_table table, .advanced-table table {
  border-spacing: 5px; }
.basic_table tbody, .advanced-table tbody, .basic_table thead, .advanced-table thead, .basic_table tfoot, .advanced-table tfoot {
  vertical-align: middle;
  border-color: inherit; }
.basic_table tbody, .advanced-table tbody {
  display: table-row-group; }
.basic_table thead, .advanced-table thead {
  display: table-header-group; }
.basic_table tfoot, .advanced-table tfoot {
  display: table-footer-group; }

.advanced-table tbody > tr > td:hover,
.advanced-table tbody > tr > th:hover,
.advanced-table tbody > tr:hover,
.advanced-table tbody > tr:hover {
  background-color: #e6e6e6; }
.advanced-table tbody tr:nth-child(odd) {
  background-color: #e6e6e6; }

.btn, .large-btn, .small-btn {
  color: #333333;
  background-color: #FFFFFF;
  border: 1px solid;
  border-color: #333333;
  display: inline-block;
  text-align: center;
  border-radius: 0.25rem;
  padding: 5px;
  cursor: pointer;
  font-size: 15px; }
  .btn:hover, .large-btn:hover, .small-btn:hover {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad; }
  .btn:visited, .large-btn:visited, .small-btn:visited {
    background-color: #000;
    color: #FFFFFF; }

.large-btn {
  height: 50px;
  font-size: 18px;
  padding: 5px 15px;
  line-height: 1.5;
  width: auto; }

.small-btn {
  height: 25px;
  padding: 2px;
  line-height: 0.75;
  font-size: 12px;
  width: auto; }

.btn-green {
  color: #333333;
  background-color: #FFFFFF;
  border: 1px solid;
  border-color: #333333;
  display: inline-block;
  text-align: center;
  border-radius: 0.25rem;
  padding: 5px;
  cursor: pointer;
  font-size: 15px;
  border-color: #003400;
  background-color: #008000;
  color: #FFFFFF; }
  .btn-green:hover {
    background-color: #006700; }
  .btn-green:visited {
    background-color: #000;
    color: #FFFFFF; }

.btn-red {
  color: #333333;
  background-color: #FFFFFF;
  border: 1px solid;
  border-color: #333333;
  display: inline-block;
  text-align: center;
  border-radius: 0.25rem;
  padding: 5px;
  cursor: pointer;
  font-size: 15px;
  border-color: #b30000;
  background-color: #FF0000;
  color: #FFFFFF; }
  .btn-red:hover {
    background-color: #b30000; }
  .btn-red:visited {
    background-color: #000;
    color: #FFFFFF; }

.btn-dark {
  color: #333333;
  background-color: #FFFFFF;
  border: 1px solid;
  border-color: #333333;
  display: inline-block;
  text-align: center;
  border-radius: 0.25rem;
  padding: 5px;
  cursor: pointer;
  font-size: 15px;
  background-color: #000;
  color: #FFFFFF; }
  .btn-dark:hover {
    background-color: #333333; }
  .btn-dark:visited {
    background-color: #e6e6e6;
    color: #FFFFFF; }

.btn-flat {
  border: none;
  border-radius: 0; }

.btn-xl {
  width: 100%; }

.btn-fancy {
  background-image: linear-gradient(#FFFFFF, #FF0000);
  box-shadow: 0px 5px 0px #e6e6e6; }

.btn-fancy:active {
  box-shadow: 0px 2px 0px #666666; }

.btn-fancy:hover {
  background-image: linear-gradient(#FF0000, #FFFFFF); }

.alertError {
  background-color: #f44336;
  color: #FFFFFF;
  border-radius: 5px;
  font-family: Arial, Verdana, sans-serif;
  padding: 20px;
  margin: 10px 10px 25px 10px; }

.alertInfo {
  background-color: #2196F3;
  color: #FFFFFF;
  border-radius: 5px;
  font-family: Arial, Verdana, sans-serif;
  padding: 20px;
  margin: 10px 10px 25px 10px; }

.alertSuccess {
  background-color: #4CAF50;
  color: #FFFFFF;
  border-radius: 5px;
  font-family: Arial, Verdana, sans-serif;
  padding: 20px;
  margin: 10px 10px 25px 10px; }

.alertWarning {
  background-color: #FF8C00;
  color: #FFFFFF;
  border-radius: 5px;
  font-family: Arial, Verdana, sans-serif;
  padding: 20px;
  margin: 10px 10px 25px 10px; }

.header {
  padding: 0.5em 0.6em; }
  .header h1 {
    font-size: 36px;
    text-decoration: underline;
    color: #000; }
  .header p {
    text-transform: capitalize;
    font-family: Arial, Verdana, sans-serif; }

.jumbotron {
  padding: 30px;
  margin: 30px;
  color: inherit;
  background-color: #e6e6e6; }
  .jumbotron h1 {
    color: inherit; }
  .jumbotron p {
    margin-bottom: 10px;
    font-size: 1.2em; }

.navbar {
  width: auto;
  list-style-type: none;
  background-color: #333333;
  padding-left: 0; }
  .navbar li {
    display: inline-block;
    padding: 16px; }
    .navbar li a {
      color: #FFFFFF;
      text-align: center;
      text-decoration: none; }
    .navbar li:hover {
      background-color: #262626; }
  .navbar .disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6; }
  .navbar .active {
    background-color: #262626; }
  @media screen and (max-width: 1024px) {
    .navbar {
      padding: 0;
      margin: 0; }
      .navbar li {
        display: block;
        text-align: center;
        text-transform: uppercase; } }

.breadcrumb {
  width: auto;
  background-color: #666666;
  list-style-type: none; }
  .breadcrumb li {
    display: inline-block;
    padding: 10px; }
    .breadcrumb li a > span:first-child {
      padding: 20px 20px 20px 0px; }
    .breadcrumb li:after {
      content: " > "; }
    .breadcrumb li a {
      text-decoration: none;
      color: #FFFFFF; }
    .breadcrumb li.end:after {
      content: none; }
  @media screen and (max-width: 1024px) {
    .breadcrumb {
      margin: 20px;
      border-radius: 20px;
      background-color: gray;
      font-weight: bold; }
      .breadcrumb li {
        padding: 10px 0px 10px 0px; }
        .breadcrumb li a > span {
          margin: 10px; }
        .breadcrumb li a > span:first-child {
          padding: 10px 0px 10px 0px; }
        .breadcrumb li a > span:last-child {
          display: none; } }

.pagination {
  list-style: none;
  text-align: center; }
  .pagination li {
    display: inline-block; }
    .pagination li > a,
    .pagination li > span {
      text-decoration: none;
      display: inline-block;
      padding: 5px 14px;
      background-color: #cccccc;
      border: 1px solid #000;
      color: #000;
      border-radius: 2px; }
    .pagination li > a:hover {
      background-color: #e6e6e6; }
  .pagination .active > a,
  .pagination .active > span {
    color: #e6e6e6;
    background-color: #666666; }
  .pagination .disabled > a,
  .pagination .disabled > span {
    pointer-events: none;
    cursor: default;
    opacity: 0.6; }
  @media screen and (max-width: 1024px) {
    .pagination li > a,
    .pagination li > span {
      display: inline-block;
      margin: -0.17em;
      padding: 5px; } }


.category {
  margin-bottom: 50px;
  overflow: hidden; }
  .category h1 {
    margin-bottom: 20px; }
  @media screen and (max-width: 765px) {
    .category h4 {
      display: none; }
    .category select {
      width: 100%;
      margin-left: 0 !important; } }

.container-accueil, .container-ingredient {
  margin-top: 0;
  background-color: #f3f3f3;
  border: solid black;
  border-radius: 5px;
  padding: 20px; }
  @media screen and (max-width: 765px) {
    .container-accueil, .container-ingredient {
      width: 100%;
      margin-left: 0 !important;
      margin-top: 20px; } }

.v-menu {
  margin-top: 0;
  clear: both;
  list-style-type: none; }
  .v-menu ul {
    padding-left: 0; }
  .v-menu li {
    color: white;
    display: block;
    text-align: center;
    border: solid black;
    margin: inherit;
    width: 100%;
    padding: 10px 5px 10px 5px;
    background-color: #333333;
    text-transform: uppercase; }
    .v-menu li a {
      color: white;
      text-align: center;
      text-decoration: none; }
  @media screen and (max-width: 765px) {
    .v-menu {
      float: none;
      width: 80%;
      margin-left: auto;
      margin-right: auto; }
      .v-menu li {
        width: 31%;
        margin: 1%;
        box-sizing: border-box;
        float: left;
        text-align: center;
        border: solid black; } }

@media screen and (max-width: 765px) {
  .header-img {
    width: 50%;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; } }

.header-container {
  overflow: hidden;
  margin-bottom: 0; }

.cart-img {
  width: 40%; }
  @media screen and (max-width: 765px) {
    .cart-img {
      display: none; } }

@media screen and (max-width: 765px) {
  .navbar {
    width: 100%;
    margin-left: 0 !important; } }

.selecteur {
  clear: both; }

@media screen and (max-width: 765px) {
  .validation input {
    width: 100%;
    margin-left: 0 !important; } }

.stepper {
  width: 30px; }

.choix-ingredient {
  overflow: hidden;
  margin: 30px 0 30px 0; }

.advanced-table th, .advanced-table td {
  border: none; }

/*# sourceMappingURL=frm.css.map */
