.span-1 {
  width: 6.25%;
  margin-left: 2%;
  margin-top: 1%;
  float: left;
  box-sizing: border-box; }

.offset-1 {
  margin-left: 10.25% !important; }

.span-2 {
  width: 14.5%;
  margin-left: 2%;
  margin-top: 1%;
  float: left;
  box-sizing: border-box; }

.offset-2 {
  margin-left: 18.5% !important; }

.span-3 {
  width: 22.75%;
  margin-left: 2%;
  margin-top: 1%;
  float: left;
  box-sizing: border-box; }

.offset-3 {
  margin-left: 26.75% !important; }

.span-4 {
  width: 31%;
  margin-left: 2%;
  margin-top: 1%;
  float: left;
  box-sizing: border-box; }

.offset-4 {
  margin-left: 35% !important; }

.span-5 {
  width: 39.25%;
  margin-left: 2%;
  margin-top: 1%;
  float: left;
  box-sizing: border-box; }

.offset-5 {
  margin-left: 43.25% !important; }

.span-6 {
  width: 47.5%;
  margin-left: 2%;
  margin-top: 1%;
  float: left;
  box-sizing: border-box; }

.offset-6 {
  margin-left: 51.5% !important; }

.span-7 {
  width: 55.75%;
  margin-left: 2%;
  margin-top: 1%;
  float: left;
  box-sizing: border-box; }

.offset-7 {
  margin-left: 59.75% !important; }

.span-8 {
  width: 64%;
  margin-left: 2%;
  margin-top: 1%;
  float: left;
  box-sizing: border-box; }

.offset-8 {
  margin-left: 68% !important; }

.span-9 {
  width: 72.25%;
  margin-left: 2%;
  margin-top: 1%;
  float: left;
  box-sizing: border-box; }

.offset-9 {
  margin-left: 76.25% !important; }

.span-10 {
  width: 80.5%;
  margin-left: 2%;
  margin-top: 1%;
  float: left;
  box-sizing: border-box; }

.offset-10 {
  margin-left: 84.5% !important; }

.span-11 {
  width: 88.75%;
  margin-left: 2%;
  margin-top: 1%;
  float: left;
  box-sizing: border-box; }

.offset-11 {
  margin-left: 92.75% !important; }

.span-12 {
  width: 97%;
  margin-left: 2%;
  margin-top: 1%;
  float: left;
  box-sizing: border-box; }

.offset-12 {
  margin-left: 101% !important; }

.v-menu {
  margin-top: 0;
  clear: both;
  list-style-type: none; }
  .v-menu ul {
    padding-left: 0; }
  .v-menu li {
    color: white;
    display: block;
    text-align: center;
    border: solid black;
    margin: inherit;
    width: 100%;
    padding: 10px 5px 10px 5px;
    background-color: #333333;
    text-transform: uppercase; }
    .v-menu li a {
      color: white;
      text-align: center;
      text-decoration: none; }
  @media screen and (max-width: 1024px) {
    .v-menu {
      float: none;
      width: 80%;
      margin-left: auto;
      margin-right: auto; }
      .v-menu li {
        width: 31%;
        margin: 1%;
        box-sizing: border-box;
        float: left;
        text-align: center;
        border: solid black; } }

.container-ingredient, .container-accueil {
  margin-top: 0;
  background-color: #f3f3f3;
  border: solid black;
  border-radius: 5px;
  padding: 20px; }
  @media screen and (max-width: 1024px) {
    .container-ingredient, .container-accueil {
      width: 100%;
      margin-left: 0 !important;
      margin-top: 20px; } }

.img-ing {
  float: right;
  margin: 10px; }
  @media screen and (max-width: 1024px) {
    .img-ing {
      float: none;
      width: 33%;
      margin-left: auto;
      margin-right: auto;
      display: block; } }

.container-accueil {
  clear: both; }

.category {
  margin-bottom: 50px;
  overflow: hidden; }
  .category h1 {
    margin-bottom: 20px; }
  @media screen and (max-width: 1024px) {
    .category div {
      width: 100%;
      margin-left: 0 !important; }
    .category h4 {
      display: none; }
    .category select {
      width: 100%;
      margin-left: 0 !important; } }

@media screen and (max-width: 1024px) {
  .header-img {
    width: 50%;
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; } }

.header-container {
  overflow: hidden;
  margin-bottom: 0; }

.cart-img {
  width: 40%; }
  @media screen and (max-width: 1024px) {
    .cart-img {
      display: none; } }

@media screen and (max-width: 1024px) {
  .navbar {
    width: 100%;
    margin-left: 0; } }

.selecteur {
  clear: both; }

@media screen and (max-width: 1024px) {
  .validation input {
    width: 100%;
    margin-left: 0 !important; } }

.stepper {
  width: 30px; }

.choix-ingredient {
  overflow: hidden;
  margin: 30px 0 30px 0; }

.advanced-table th, .advanced-table td {
  border: none; }

.large-content {
  width: 100%; }

/*# sourceMappingURL=main.css.map */
