
$size-column: percentage((75/12)/100);
$border: 2%;


@mixin span($size-column, $nbspan, $marge){
  $nspan : $nbspan - 1;
  @if($nbspan == 1)  {
    width : $size-column * $nbspan;
  }
  @else{
    width : $size-column * $nbspan + $nspan * $marge;
  }

  margin-left: $marge;
  margin-top: 1%;
  float: left;
  box-sizing:border-box;

   }


@mixin offset($size-column, $nboffset, $marge) {
    margin-left: $nboffset * $size-column + ($nboffset + 1) * $marge !important;
}


    @for $i from 1 through 12{
      .span-#{$i}{
        @include span($size-column, $i, $border);
      }
      .offset-#{$i}{
        @include offset($size-column, $i, $border);
      }
    }
