.v-menu{
    margin-top:0;
    clear:both;
    list-style-type: none;

    ul{
      padding-left: 0;
    }

    li{
      color: white;
      display: block;
      text-align:center;
      border:solid $black-base;
      margin:inherit;
      width:100%;
      padding: 10px 5px 10px 5px;
      background-color: $gray-base;
      text-transform: uppercase;
      a {
          color: $white-base;
          text-align: center;
          text-decoration: none;
      }
    }

      @media screen and (max-width: 1024px) {
        float: none;
        width: $media-width-medium;
        margin-left: auto;
        margin-right: auto;
          li{
            width: $media-v-menu-width;
            margin: $media-v-menu-margin;
            box-sizing: border-box;
            float: left;
            text-align: center;
            border:solid $black-base;
          }
      }
}

.container-ingredient{
  margin-top: 0;
  background-color: $light-gray;
  border: solid $black-base;
  border-radius: $container-radius;
  padding:$container-padding;

  @media screen and (max-width: 1024px) {
    width:$media-width-large;
    margin-left: $media-margin-removed !important;
    margin-top: $small-margin;
  }
}

.img-ing{
  float:right;
  margin:10px;
  @media screen and (max-width: 1024px) {
    float:none;
    width:33%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.container-accueil{
    @extend .container-ingredient;
    clear:both;
}


.category{
  margin-bottom: $large-margin;
  overflow: hidden;
  h1{
    margin-bottom: $small-margin;
  }
  @media screen and (max-width: 1024px) {
    div{width:100%;
        margin-left: 0 !important;
      }
    h4{display:none}
    select{
      width:$media-width-large;
      margin-left: $media-margin-removed !important;
    }
  }
}

.header-img{
  @media screen and (max-width: 1024px) {
     width: $header-media-width;
     display:block;
     float:none;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: $small-margin;
}
}

.header-container{
    overflow: hidden;
    margin-bottom: 0;
}

.cart-img{
  width: 40%;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.navbar{
  @media screen and (max-width: 1024px) {
    width:$media-width-large;
    margin-left: $media-margin-removed;
  }
}

.selecteur{
  clear:both;
}

.validation{
  @media screen and (max-width: 1024px) {
  input{
    width: $media-width-large;
    margin-left: $media-margin-removed !important;}
  }
}

.stepper{
    width: $stepper;
}

.choix-ingredient{
    overflow: hidden;
    margin: $medium-margin 0 $medium-margin 0;
}

.advanced-table{
    th, td{
      border:none;
    }
}

.large-content{
    width:100%;
}
