$light-gray: lighten(gray, 45%) !default;
$black-base: black !default;
$white-base: white !default;
$gray-base: #333333 !default;

$container-radius: 5px !default;
$container-padding: 20px !default;


$small-margin: 20px !default;
$medium-margin: 30px !default;
$large-margin: 50px !default;

$media-v-menu-width: 31% !default;
$media-v-menu-margin: 1% !default;

$stepper: 30px !default;

$header-media-width: 50% !default;
$media-width-large: 100% !default;
$media-width-medium: 80% !default;
$media-margin-removed: 0 !default;
